/* 滚动条样式改变 */
body::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
body::-webkit-scrollbar-thumb {
  min-height: 40px;
  min-width: 40px;
  border: 4px solid #fff;
  border-radius: 8px;
  background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  border: 2px solid #f2f4f7;
  background-color: #c0c6cf;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background-color: #f2f4f7;
}
